<ul id="nav">
    <li><a href="#signup">Sign Up</a></li>
    <li><a href="#login">Log In</a></li>
</ul>

<div id="questions">

	<h1>Editing question</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @question %> |
	<%= link_to 'Back', questions_path %>

</div>
