 <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to 'Ask Beaver', home_index_path, :class=>"brand"%>
            
        </div>
    </div>
</div>

<br>
<div class="container">

 <div class="hero-unit">
  <h1> Administrar Usuarios</h1>
</div><br>

    <table class="table table-bordered table-striped">  
    <colgroup>
      <col class="span2">
      <col class="span2">
      <col class="span1">
    </colgroup>  
    <thead>
      <tr>
        <th>Email</th>
        <th>Tipo</th>
        <th></th>
      </tr>
    </thead>

 <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.user_type %></td>
      <td><%= link_to 'Edit', edit_user_path(user), :style=>'color:#000' %></td>
    </tr>
  <% end %>
</tbody>
  </table>

  <br />

</div>
